{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<h1>Votre panier</h1>

	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produits</th>
					<th>Prix HT</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.product.title }}</td>
						<td>{{ item.product.priceDutyFree / 100 }}€</td>
						<td>{{ item.product.quantity }}</td>
						<td>{{ ((item.product.priceDutyFree / 100 * item.product.tva) + item.product.priceDutyFree / 100) * item.quantity }}€ ({{ item.product.tva * 100 }}% de TVA)</td>
						<td>
							<a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
								<i class="fas fa-trash">Retirer du panier</i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="total">Total :</td>
					<td>{{ total / 100}}€</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
	{% else %}
		<h3>C'est bien vide ici...</h3>
	{% endif %}

{% endblock %}
